@model FineEx.BusinessLayer.Models.UserCreateModel

@{
    ViewBag.Title = "Registration";
    SelectList companies = ViewBag.Companies as SelectList;
}

<link href="~/Content/custom/form.css" rel="stylesheet" />

@using (Html.BeginForm("Registration", "Account", FormMethod.Post))
{
    <h2>@FineEx.Resources.Registration.Registration.Title</h2>
    @Html.AntiForgeryToken()

    <div class="col">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(FineEx.Resources.Registration.Registration.FirstName, htmlAttributes: new { @class = "label-txt" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            @Html.Label(FineEx.Resources.Registration.Registration.LastName, htmlAttributes: new { @class = "label-txt" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group px-3">
        <div class="col-md-6">
            @Html.Label(FineEx.Resources.Login.Login.Email, htmlAttributes: new { @class = "label-txt" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.Label(FineEx.Resources.Login.Login.Password, htmlAttributes: new { @class = "label-txt" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", type = "password" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Register" class="btn btn-warning" />
}

@section Scripts {
    <script>

        $("#btn-ok").click(function () {
            location.href = '@Url.Action("Login")';
        });

        $(".modal").on('hidden.bs.modal', function () {
            location.href = '@Url.Action("Login")';
        })

        $("form").on('submit', function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            $("#success-modal").modal("show");

            @*e.preventDefault();
            var data = $(this).serialize();

            if (data.InfoMessage == null) {
                $.ajax({
                    url: '@Url.Action("Registration")',
                    method: 'POST',
                    data: data,
                    success: function (data) {
                        if (typeof (data) == 'object' && data.InfoMessage == null) {
                            console.log(data);
                            $("#success-modal").modal("show");
                        }
                        else if (typeof (data) == 'object') {
                            console.log(data);
                            $("#error-modal").modal("show");
                            $("#info-message").text(data.InfoMessage);
                            $("#error-message").text(data.Message);
                        }
                    }
                });
            }*@
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/javascript")

}
