@model FineEx.BusinessLayer.Models.Registration.RegistrationViewModel

@{
    ViewBag.Title = @FineEx.Resources.Registration.Registration.Register;
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts//slick.min.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/javascript")

}
<br />
<h3 class="p-2 bg-dark text-light">@FineEx.Resources.Registration.Registration.Register</h3>
<hr />

<div class="container" style="background: aliceblue">
    @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <header>
            <h4>@FineEx.Resources.Registration.Registration.Enter_Personal_Data</h4>
        </header>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.User.FirstName, new { placeholder = FineEx.Resources.User.User.FirstName, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.FirstName)
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.User.LastName, new { placeholder = FineEx.Resources.User.User.LastName, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.LastName)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.EmailRegistration, new { placeholder = FineEx.Resources.User.User.Email, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EmailRegistration)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.User.Email, new { placeholder = FineEx.Resources.Registration.Registration.Repeat_Email, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.User.Password, new { placeholder = FineEx.Resources.User.User.Password, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.Password)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.User.PasswordRepeat, new { placeholder = FineEx.Resources.User.User.Repeat_Password, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.PasswordRepeat)
                </div>
            </div>

        </div>

        <header>
            <h4>@FineEx.Resources.Registration.Registration.Enter_Company_Data</h4>
        </header>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.CompanyName, new { placeholder = FineEx.Resources.Company.Company.Name, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.CompanyName)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.BusinessNumber, new { placeholder = FineEx.Resources.Company.Company.Business_Number, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.BusinessNumber)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.BusinessUnit, new { placeholder = FineEx.Resources.Company.Company.Business_Unit, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.BusinessUnit)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.Address, new { placeholder = FineEx.Resources.Company.Company.Address, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.Address)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.City, new { placeholder = FineEx.Resources.Company.Company.City, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.City)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.IBAN, new { placeholder = FineEx.Resources.Company.Company.Iban, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.IBAN)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.Phone, new { placeholder = FineEx.Resources.Company.Company.Phone, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.Phone)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Company.Country, new { placeholder = FineEx.Resources.Company.Company.Country, @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.Country)
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                </div>
            </div>
        </div>
        <input type="submit" value="Register" class="btn btn-warning" />
    }
</div>



