@model FineEx.BusinessLayer.Models.CompanyModels.CompanyViewModel
<div>
@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new {enctype = "multipart/form-data"}))
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false)

    @Html.Hidden("Id", Model.Id)
    <div class="row">
        <div class="4u">
            @Html.LabelFor(x => x.BusinessNumber)
            @Html.EditorFor(x => x.BusinessNumber)
        </div>
        <div class="4u">
            @Html.LabelFor(x => x.CompanyName)
            @Html.EditorFor(x => x.CompanyName)
        </div>
        <div class="4u">
            @Html.LabelFor(x => x.Address)
            @Html.EditorFor(x => x.Address)
        </div>
    </div>
    <div class="row">
        <div class="4u">
            @Html.LabelFor(x => x.City)
            @Html.EditorFor(x => x.City)
        </div>
        <div class="4u">
            @Html.LabelFor(x => x.IBAN)
            @Html.EditorFor(x => x.IBAN)
        </div>
        <div class="4u">
            @Html.LabelFor(x => x.Phone)
            @Html.EditorFor(x => x.Phone)
        </div>
    </div>

    <div class="row">
        <div class="4u">
            @Html.LabelFor(x => x.BusinessUnit)
            @Html.EditorFor(x => x.BusinessUnit)
        </div>
        <div class="4u">
            <input type="submit" value="@FineEx.Resources.Company.Company.Update" class="btn btn-info btn-block"/>
        </div>
    </div>


}
</div>