<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a href="/invoices"> <img style="width: 40px" src="~/Content/Images/Logo.png" alt="X" /></a>

        <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row" id="navbarNav">
            <ul class="navbar-nav mx-auto" id="nav">
                <li class="nav-item">@Html.ActionLink(FineEx.Resources.Common.Company_Menu, "Index", "Company", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(FineEx.Resources.Common.Documents_Menu, "Index", "Document", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(FineEx.Resources.Common.Statistics_Menu, "Index", "Statistics", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(FineEx.Resources.Common.Invoices_Menu, "Index", "Invoice", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        @{ FineEx.BusinessLayer.Models.UserModels.UserViewModel user = (FineEx.BusinessLayer.Models.UserModels.UserViewModel)Session["user"]; }
                        @((Session["user"] == null) ? @FineEx.Resources.Common.Account_Dropdown : user.Email)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @((Session["user"] == null) ? @Html.ActionLink(FineEx.Resources.Common.Login, "Login", "Account", new { area = "" }, new { @class = "dropdown-item" }) : @Html.ActionLink(FineEx.Resources.Common.Logout, "Logout", "Account", new { area = "" }, new { @class = "dropdown-item" }))
                        @((Session["user"] == null) ? @Html.ActionLink(FineEx.Resources.Common.Registration, "Registration", "Account", new { area = "" }, new { @class = "dropdown-item" }) : null)
                    </div>
                </li>
            </ul>
            <hr class="m-0 mb-2" />
            <ul class="navbar-nav ml-md-5">
                <li class="nav-item d-inline-block">
                    @Html.ActionLink(" ", "ChangeCulture", "Base",
                    new { lang = FineEx.Resources.Common.Language, returnUrl = this.Request.RawUrl }, new { @class = "nav-link", @style = "background: url('../../Resources/language.png') no-repeat center right;display:block; height:32px; width:32px;" })
                </li>
            </ul>
        </div>
    </nav>

    <div id="error-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="info-message"></div>
                    <div id="error-message"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Request successful!
                </div>
                <div class="modal-footer">
                    <button id="btn-ok" type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/javascript")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>

</body>
</html>
